dagster==0.14.0
dagster-postgres==0.14.0
dagster-docker==0.14.0
dagster-shell==0.14.0
marshmallow
minio
resourceez
azure-core==1.24.1
protobuf<3.20.0
markupsafe==2.0.1
scikit-learn
./infrastructure-0.1-py3-none-any.whl
