dagster
dagster-postgres
dagster-docker
dagster-shell
#dagster-mlflow
marshmallow
minio
resourceez
azure-core==1.24.1
protobuf
markupsafe==2.0.1
urllib3==1.25.11
scikit-learn
pandas
#transformers[torch]
#datasets
#evaluate
onnxmltools
skl2onnx
onnxruntime-gpu
pendulum<2.0
sqlalchemy<2.0
./infrastructure-1.0.0-py3-none-any.whl
